@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pearl-bush-50: hsl(30, 33%, 96%);
  --pearl-bush-100: hsl(38, 35%, 88%);
  --pearl-bush-200: hsl(37, 36%, 83%);
  --pearl-bush-300: hsl(34, 35%, 72%);
  --pearl-bush-400: hsl(30, 34%, 61%);
  --pearl-bush-500: hsl(28, 34%, 53%);
  --pearl-bush-600: hsl(25, 32%, 48%);
  --pearl-bush-700: hsl(22, 31%, 40%);
  --pearl-bush-800: hsl(19, 28%, 34%);
  --pearl-bush-900: hsl(19, 27%, 28%);
  --pearl-bush-950: hsl(16, 30%, 15%);
  --white-50: hsl(0, 0%, 97%);
  --white-100: hsl(0, 0%, 93%);
  --white-200: hsl(0, 0%, 86%);
  --white-300: hsl(0, 0%, 74%);
  --white-400: hsl(0, 0%, 60%);
  --white-500: hsl(0, 0%, 49%);
  --white-600: hsl(0, 0%, 40%);
  --white-700: hsl(0, 0%, 32%);
  --white-800: hsl(0, 0%, 27%);
  --white-900: hsl(0, 0%, 24%);
  --white-950: hsl(0, 0%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: "Abril Fatface", serif;
}

.subtitle {
  font-family: "Dela Gothic One", sans-serif;
}
