@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dela+Gothic+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pearl-bush-50: hsl(30; 33%; 96%);
  --pearl-bush-100: hsl(38; 35%; 88%);
  --pearl-bush-200: hsl(37; 36%; 83%);
  --pearl-bush-300: hsl(34; 35%; 72%);
  --pearl-bush-400: hsl(30; 34%; 61%);
  --pearl-bush-500: hsl(28; 34%; 53%);
  --pearl-bush-600: hsl(25; 32%; 48%);
  --pearl-bush-700: hsl(22; 31%; 40%);
  --pearl-bush-800: hsl(19; 28%; 34%);
  --pearl-bush-900: hsl(19; 27%; 28%);
  --pearl-bush-950: hsl(16; 30%; 15%);
  --white-50: #f8f8f8;
  --white-100: #eeeeee;
  --white-200: #dcdcdc;
  --white-300: #bdbdbd;
  --white-400: #989898;
  --white-500: #7c7c7c;
  --white-600: #656565;
  --white-700: #525252;
  --white-800: #464646;
  --white-900: #3d3d3d;
  --white-950: #292929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-family: "Abril Fatface", serif;
}

.subtitle {
  font-family: "Dela Gothic One", sans-serif;
}
